@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: oklch(0.985 0.002 247.858);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(0.985 0.002 247.858);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(0.985 0.002 247.858);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.002 247.858);
  --secondary: oklch(0.96 0.005 67.608);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.96 0.005 67.608);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.96 0.005 67.608);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --radius: 0.625rem;
  --sidebar-background: oklch(0.985 0.002 247.858);
  --sidebar-foreground: oklch(0.553 0.013 58.071);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.858);
  --sidebar-accent: oklch(0.96 0.005 67.608);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: oklch(0.147 0.004 49.25);
  --foreground: oklch(0.985 0.002 247.858);
  --card: oklch(0.216 0.006 56.043);
  --card-foreground: oklch(0.985 0.002 247.858);
  --popover: oklch(0.216 0.006 56.043);
  --popover-foreground: oklch(0.985 0.002 247.858);
  --primary: oklch(0.985 0.002 247.858);
  --primary-foreground: oklch(0.216 0.006 56.043);
  --secondary: oklch(0.268 0.007 34.298);
  --secondary-foreground: oklch(0.985 0.002 247.858);
  --muted: oklch(0.268 0.007 34.298);
  --muted-foreground: oklch(0.709 0.01 56.259);
  --accent: oklch(0.268 0.007 34.298);
  --accent-foreground: oklch(0.985 0.002 247.858);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.268 0.007 34.298);
  --input: oklch(0.268 0.007 34.298);
  --ring: oklch(0.553 0.013 58.071);
  --sidebar-background: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.709 0.01 56.259);
  --sidebar-primary: oklch(0.985 0.002 247.858);
  --sidebar-primary-foreground: oklch(0.216 0.006 56.043);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.858);
  --sidebar-border: oklch(0.268 0.007 34.298);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-[var(--border)];
  }
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}
